.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.title h2 {
  font-size: 2vw;
  color: white;
  text-decoration: underline solid 4px;
  text-underline-offset: 0.65rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.body-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  flex-wrap: wrap;
  width: 60%;
  margin: 3rem auto;
  height: auto;
  padding: 1.5rem 0.5rem;
}

.product-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  width: 50%;
}

.product-description {
  width: 100%;
}

.imageDTF {
  width: 100%;
}

.product-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  padding: 1rem 1rem;
}

.verticalBar {
  height: 350px;
  width: 5px;
  background-color: #040300;
  border-radius: 99px;
  margin: 0 20px;
}

/* h4 {
  font-size: 16px;
} */

/* .button-cart-add {
  border: 1.5px solid rgba(128, 128, 128, 0.318);
  border-radius: 4px;
  padding-left: 3rem;
  padding-right: 3rem;
} */

/* .button-cart-size {
  margin-bottom: 1rem;
  font-weight: bold;
  border: 1.5px solid rgba(128, 128, 128, 0.318);
  border-radius: 6px;
  padding-left: 3.1rem;
  padding-right: 3.1rem;
  color: white;
  background-color: green;
} */

.sizechart {
  padding-top: 3rem;
  width: 300px;
}

@media only screen and (max-width: 600px) {
  .body-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 3rem auto;
    padding: 0.5rem 1rem;
  }

  .product-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 1rem 1rem;
  }

  .product-view {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    width: 90%;
  }

  .product-description {
    width: 100%;
    margin-top: 1.8rem;
  }

  .imageDTF {
    width: 100%;
  }

  .verticalBar {
    display: none;
  }
}

.video-container-small {
  height: 65vh !important;
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
}

.titleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.title {
  z-index: 5;
  white-space: nowrap;
  font-size: 6vw;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3rem;
}

.mainBtns {
  font-size: 2vw;
}

.shop-now-btn {
  z-index: 5;
  position: relative;
  left: 50%;
  bottom: 8%;
  transform: translateX(-50%);
}

.displayProductContents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -10;
}

.product-title {
  display: inline-block;
  padding-top: 8rem;
}

.product-title > h1 {
  text-transform: uppercase;
  font-family: "Oleo Script", cursive;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: var(--wItemTextSize);
}

.product-container {
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
}

.sideImageProduct-1,
.sideImageProduct-2 {
  flex: 1;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  max-width: 300px;
  max-height: 600px;
}

.mainImageProduct {
  flex: 2;
  max-width: 400px;
  max-height: 1000px;
  border: 1px solid black;
}

.mainImageProduct-img {
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.mainImageProduct-img:hover {
  transform: scale(1.05);
}

.quick-view {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  transition: opacity 0.3s;
  text-align: center;
}

.mainImageProduct-img:hover .quick-view {
  opacity: 1;
}

.sideImage {
  width: 100%;
  height: 95%;
  padding-top: 4rem;
  padding-bottom: 8rem;
  object-fit: fit;
}

.mainImage {
  width: 100%;
  max-height: 100%;
  display: block;
  transition: filter 0.2s ease;
}

.product-price-container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rodal-close {
  &::before,
  &::after {
    width: 110%;
    height: 20%;
    overflow: visible;
  }
}

.arrow-right,
.arrow-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 8rem;
}

@media only screen and (max-width: 700px) {
  .enlarged-image {
    width: 100%;
  }
}

.parent-div {
  position: relative;
}

.parent-parent.blur {
  filter: blur(4px); /* Adjust the blur amount as needed */
}

.rodal-parent {
  z-index: 9999; /* Ensure the modal is above the blurred background */
}
